.simulation
{
	width: 100%;
	height: 100%;
}

.simulation .row
{
	width: 100%;
	height: 100%;
}

.simulation .row > .sidebar
{
	postion: absolute;
	padding-left: 20px;
}

.simulation .row > .sidebar > ul
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none inside none;
}

.simulation .row > .sidebar > ul > li
{
	width: 100%;
    height: 65px;
}

.simulation .row > .sidebar > ul > li:first-child
{
	margin-top: 50px;
}

.simulation .row > .sidebar > ul > li > .tab-div
{
	position: absolute;
    left: 0px;
    right: 0px;
    height: 65px;
    
    border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.simulation .row > .sidebar > ul > li >.tab-div .active
{
	background-color: #ffffff;
    color: #00aff0;
}

.simulation .row > .sidebar > ul > li > .tab-div > .icon
{
    width: 100%;
    margin-top: 5px;
    text-align: center;
}

.simulation .row > .sidebar > ul > li > .tab-div > .title
{
    width: 100%;
    text-align: center;
}

.simulation .row > .content
{
	margin-top: 10px;
	margin-right: 20px;
	overflow: auto;
}

.simulation .row > .content > .title 
{
	margin: 10px;
	height: 60px;
	margin-bottom: 30px;
}

.simulation .row > .content > .title > .back
{
	margin-top: 12px;
	margin-left: 30px;
	border: 2px solid #16499a;
	float: left;
}

.simulation .row > .content > .title > .title-content
{
	width: 500px;
	height: 60px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 80px;
	margin-right: 0;
	
	line-height: 60px;
	font-size: 200%;
}

.simulation .row > .content > .sub-module 
{
	margin: 10px;
	bottom: 20px;
	padding: 0 30px;
	
	color: black;
}

.simulation .row > .content > .sub-module > p
{
	font-size: 15px;
	line-height: 30px;
}

.simulation .row > .content > .sub-module > .title-style
{
	margin-top: 50px; 
	text-align: center; 
	font-weight: 600;
}

.simulation .row > .content > .sub-module > .tabs
{
	margin: 0;
	padding: 0;
	margin-top: 20px; 
	width: 100%;
	list-style: none;
	border-bottom: 1px solid #ddd;
}

.simulation .row > .content > .sub-module > .tabs > .tab
{
	display: inline-block;
	width: 150px;
	height: 40px;
	padding: 10px 0;
	text-align: center; 
	cursor: pointer;
}

.simulation .row > .content > .sub-module > .tabs > .tab:hover
{
	color: #16499a;
	border-bottom: 4px solid #16499a;
}

.simulation .row > .content > .sub-module > .tabs > .tab.active
{
	border-bottom: 4px solid #16499a;
}

.simulation .row > .content > .sub-module > .tabs-content
{
	width: 100%;
	height: 200px;
}




